.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.idea/

.vs/
*.phpproj*
*.sln

/assets/img/clients/
/assets/img/groups/
/assets/img/modules/
/assets/img/projects/
/application/config/gisportal.php
/application/controllers/modules/
/application/models/modules/
/application/views/modules/


