
/*#fixed-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 19px 20px 20px;
  margin: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,.3);
  box-shadow: 0 3px 10px rgba(0,0,0,.3);
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.footer {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 40px;
    /*background-color: #f5f5f5;*/
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
}

.body-content h1 {
  line-height: 36px;
  font-size: 24px;
}

.page-header {
  margin-top: 0px;
}

.actions {
  padding-top: 20px;
}

.no-left-padding {
  padding-left: 0px !important;
}

.nav-tabs{
  margin-bottom:20px;
}
